.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}

.google-logo {
    margin-bottom: 20px;
}

.search-icon {
    width: 24px;
    position: relative;
    height: 24px;
}

.search-wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 44px;
    height: 44px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px;
    box-sizing: border-box;
}

.group-child {
    position: absolute;
    top: 0px;
    left: 44px;
    width: 403.4px;
    height: 46px;
    padding: 11px 0px;
    box-sizing: border-box;
    background-color: #5F6368;
    border: none;
    text-decoration: none;
    color: white;
    outline: none;
}

.mic-wrapper {
    position: absolute;
    top: 0px;
    left: 487px;
    width: 40px;
    height: 46px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 11px 0px;
    box-sizing: border-box;
}

.add-a-photo-wrapper {
    position: absolute;
    top: 0px;
    left: 527px;
    width: 40px;
    height: 46px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 11px 0px;
    box-sizing: border-box;
}

.keyboard-wrapper {
    position: absolute;
    top: 0px;
    left: 447px;
    width: 40px;
    height: 46px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 11px 0px;
    box-sizing: border-box;
}

.frame-parent {
    width: 582px;
    position: relative;
    height: 46px;
}

.group-parent {
    width: 100%;
    position: relative;
    border-radius: 50px;
    background-color: #5f6368;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #202124;
    color: white;
}

.container {
    height: 59.7vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 20px;
}

.header__right {
    display: flex;
    align-items: center;
    font-size: 13px;

}

.header__right a {
    margin-right: 20px;
    text-decoration: none;
    color: white;
    white-space: nowrap;
}

.header__right a:hover {
    text-decoration: underline;
}



.header__right svg {
    margin-right: 20px;
}

.header__right img {
    /* margin-right: 5px; */
    cursor: pointer;
    height: 31.6px;
    width: 31.6px;
    border-radius: 50%;
}

.search-buttons {
    display: flex;
    justify-content: center;
    margin-top: 18px;
}

.search-buttons button {
    background-color: #303134;
    color: white;
    border: none;
    padding: 10px 16px;
    margin: 11px 4px;
    border: #202124 0.8px solid;
    border-radius: 5px;
    cursor: pointer;
}

.language {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 18px;
    white-space: nowrap;
    font-size: 13px;
}

.language p {
    margin-right: 10px;
    color: #E8EAED;
}

.language a {
    margin-right: 10px;
    color: #7AC3FF;
    text-decoration: none;
}

footer {
    float: inline-end;
    width: 100%;

}

.footer-top {
    background-color: #171717;
    height: 48.4px;
    width: 100%;
    box-sizing: border-box;
    padding: 15px 30px;
    font-size: 15px;
    border-bottom: 1px solid #242526;
}

.footer-bottom {
    background-color: #171717;
    height: 46.4px;
    width: 100%;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}

.footer-bottom div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

.footer-bottom div a {
    color: white;
    font-size: 14px;
    text-decoration: none;
    margin: 0px 15px;
}

.footer-bottom div a:first-child {
    margin-left: 0px;
}

.footer-bottom div a:hover {
    text-decoration: underline;
}